<div class="container">
  <div *ngIf="regexError" class="error-notif">{{regexError}}</div>
  <h2>Find // Replace</h2>
  <div [ngStyle]="{'visibility': matchCount !== 0 ? 'visible' : 'hidden'}" class="matches-container">
    {{ matchCount + ' matched' }}</div>
  <div #editableContent contenteditable="true" class="editable-textarea" (input)="updateOriginalText()"
    (blur)="findAndHighlight()" placeholder="Enter your text here"></div>

  <div class="fnr-controls">
    <div class="find-section">
      <input class="find-input" type="text" [(ngModel)]="findText" (ngModelChange)="findAndHighlight()"
        placeholder="Enter text to find">
      <span (click)="toggleUseRegex()" class="regex-icon" [ngClass]="{'btn-active': useRegex}">.*</span>
      <span (click)="toggleIsCaseInSensitive()" class="regex-icon"
        [ngClass]="{'btn-active': caseInsensitiveFlag === ''}">Aa</span>
    </div>

    <div class="replace-section">
      <input class="replace-input" type="text" [(ngModel)]="replaceText" placeholder="Enter text to replace">
      <div class="replace-buttons">
        <button class="replace-one-btn" (click)="replace(caseInsensitiveFlag)">Replace</button>
        <button (click)="replace('g' + caseInsensitiveFlag)">Replace All</button>
      </div>
    </div>
  </div>
</div>