/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

app-root {
  display: block;
  height: 100%;
  margin: 0;
  position: relative;
}